@page "/"
@inherits EmployeeListBase

<h3>Employee List - @SelectedEmployeesCount </h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter"  />
<label for="showFooter">Show Footer</label>
@if(Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck d-flex flex-lg-wrap">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" 
                OnEmployeeSelection="EmployeeSelectionChanged"
                OnDeleteEmployee="EmployeeDeleted"></DisplayEmployee>
        }
    </div>
}